.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.item {
  display: flex;
  align-items: center;
}
.number {
  font-size: 120px;
  padding: 20px;
}
.text {
  line-height: 22px;
}
