.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.nasaPicOfTheDayImg {
  width: auto;
  height: 400px;
}
.collaborationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collaborationTitle {
  margin: 10px 10px 10px 0;
}
.collaborationText {
  line-height: 22px;
}
.roverPhotosTitle {
  margin-bottom: 20px;
}
.roverPhotos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.roverPhotos img {
  object-fit: cover;
  width: 480px;
  height: 340px;
}
.roverText {
  margin-top: 10px;
}